{% extends 'appname/base.html' %}

{% block header %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">myinstagram</h1>

      {% if user.is_authenticated %}
      <h2 class="masthead-subheading mb-0">hello {{ user.username }}</h2>
      <a href="{% url 'logout' %}"> sign out</a>
      {% else %}
      <h2 class="masthead-subheading mb-0">hello likelion 8th</h2>

      <a href="{% url 'signup' %}">회원가입하기</a>

      <form method="POST" action="/signin">
        {% csrf_token %}
        {{ signin_form.as_p }}
        <input type="submit" value="submit">
      </form>

      {% endif %}

      <a href="/create" class="btn btn-primary btn-xl rounded-pill mt-5">write a post</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

{% endblock %}

{% block content %}
{% load static %}

{% for post in posts %}
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          {% if post.image %}
          <img class="img-fluid rounded-circle" src="{{ post.image.url }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">

        <div class="p-5">
          <h2 class="display-4">{{post.title}}</h2>
          <p>{{post.content}}</p>
          <a href="{% url 'update' pk=post.pk %}"> 수정하기 </a>
          <a href="{% url 'delete' pk=post.pk %}"> 삭제하기 </a>
        </div>

        <form method="POST" action='/comment/{{ post.id }}'>
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" value="submit">
        </form>

        {% for comment in post.comments.all %}
          <p>{{ comment.text }}</p>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}
